* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

/**
 * Header
 */
.header {
  background-color: #ea4c89;
  margin-bottom: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__brand,
.header__page-name {
  color: #fff;
}